.communityImg {
  position: inline;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  align-self: center;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.community {
  align-self: center;
}
